html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url(https://images.pexels.com/photos/695644/pexels-photo-695644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.neon {
  color: #fff;
  text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 30px #0ff,
    0 0 7px #0ff,
    0 0 8px #0ff;
}
.blacky {
	background: rgba(200 , 200 , 200 , 0.5);
}
